services:

   # FastAPI Application
  fastapi:
    build:
      context: ..
      dockerfile: docker/minirag/Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    volumes:
      - fastapi_data:/app/assets
    networks:
      - backend
    restart: always
    depends_on:
      pgvector:
        condition: service_healthy
    env_file:
      - ./env/.env.app


  # Nginx Service
  nginx:
    image: nginx:stable-alpine3.20-perl
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - fastapi
    networks:
      - backend
    restart: always


  # PostgreSQL (pgvector)
  pgvector:                                     # service name
    image: pgvector/pgvector:0.8.1-pg18-trixie  # image from docker hub
    container_name: pgvector                    #continer name
    ports:                                      #port will run (customized:default)
      - "5432:5432"
    volumes:                                    #Volume inside the host machine where PostgreSQL stores persistent data
      - 'pgvector:/var/lib/postgresql'
    env_file:                                   #path of env file which have some config:username , pass...
      - ./env/.env.postgres
    networks:                                   # network will continares workon it                       
      - backend 
    restart: always                             # if service have proplem will start automaticly
    healthcheck:                                # some health check for check service work or stoped
      test: ["CMD-SHELL", "pg_isready -U postgres"] #cmd will run
      interval: 5s                              #every 5 second check
      timeout: 5s                               #if no response after 5 sec stop
      retries: 5                                #retrey for 5 times then make an alert service stopped
      start_period: 10s                         # wait for 10 sec after service start for first time


  # PostgreSQL Exporter for Postgres metrics
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.18.1 
    container_name: postgres-exporter
    ports:
      - "9187:9187"
    env_file:
      - ./env/.env.postgres-exporter
    depends_on:
      - pgvector
    networks:
      - backend
    restart: always


  # Qdrant (VectorDB)
  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - backend
    restart: always
  

    # Prometheus Monitoring
  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:               
      - backend
    restart: always
    command:               # fixed important command to run with image to make image work better
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'


  # Node Exporter for system metrics
  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro         #process directory for linuix read only
      - /sys:/host/sys:ro           #system directory for linuix read only
      - /:/rootfs:ro                #root directory for linuix read only
    command:                         # fixed important command to run with image to make image work better
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - backend
    restart: always


  # Grafana Dashboard
  grafana:
    image: grafana/grafana:12.1-ubuntu
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    env_file:
      - ./env/.env.grafana
    depends_on:
      - prometheus
    networks:
      - backend
    restart: always
  
  # RabbitMQ (Message Broker)
  rabbitmq:
    image: rabbitmq:4.2.1-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI port
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    env_file:
      - ./env/.env.rabbitmq
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      timeout: 10s
      retries: 5

  # Redis (Results Backend & Cache)
  redis:
    image: redis:alpine3.22
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    env_file:
      - ./env/.env.redis
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 10s
      retries: 5
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD:-admin}"]

networks:
  backend:
    driver: bridge

volumes:
  fastapi_data:
  pgvector:
  qdrant_data:
  prometheus_data:
  grafana_data:
  rabbitmq_data:
  redis_data:
